* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html, body {
    height: 100%;
}

body {
    background-color: #283D5A;
}

/*header*/
header{
    width: 100%;
    height: 100px;
    background-color: #283D5A;
    position: fixed;
}
.container_header {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 7px;
    }
.container_banner {
        width: 70%;
        height: 760px;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        color: #d2d2d2;
        padding: 210px 0;
}
header nav {
    float: right;
    margin: 1% 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #d2d2d2;
    box-sizing: border-box;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
header nav ul li a {
    text-decoration: none;
    color: #e2e2e2;
}
header .logo{
    float: left;
}
header nav ul li .boxLogin {
    width: 120px;
    text-align: center;
    background-color: #0BB68C;
    height: 60px;
    padding: 9px;
    border-radius: 50px;
}
header nav ul li .boxCarrinho {
    width: 160px;
    text-align: center;
    padding: 9px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #0BB68C;
    color: #0BB68C;
}
header nav ul li a:hover {
    color: #4AB4DE;
    border-bottom: 3px solid #4AB4DE;
    transition: 500ms;
}
header nav ul li .navAHover:hover {
    border-bottom: 0;
}
header nav ul li .boxLogin:hover {
    background-color: #e2e2e2;
    color: #0BB68C;
    transition: 500ms;
}
header nav ul li .boxCarrinho:hover {
    background-color: #e2e2e2;
    transition: 500ms;
    color: #283D5A;
    border: 1px solid #e2e2e2;
}
#container_left_banner {
    float: left;
    width: 38%;
    height: 400px;
    box-sizing: border-box;
}
.container_banner button {
    width: 40%;
    height: 50px;
    border-radius: 50px;
    border: 0;
    margin: 10px 0px;
    background-color: #4AB4DE;
    color: #f0edea;
    font-size: 1.5em;
    font-family: 'PT Serif', serif;
    font-weight: 500;
}
.container_banner button:hover {
    cursor: pointer;
    background-color: #3B8AC3;
    transition: 300ms;
}
.container_banner h1 {
    color: #e2dcd8;
    font-size: 4em;
    line-height: 70px;
    text-shadow: 6px 4px 2px black;
}
.banner {
    float: right;   
    width: 57%;
}
.banner img {
    width: 100%;
    height: 100%;
}
.clear {
    clear: both;
}
/*separacao*/
.separacao {
    width: 100%;
    background-color: #3B8AC3;
    text-align: center;
    height: 209px;
    padding: 70px 0;
}
.separacao h1 {
    color: #e6e6e6;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
}
.separacao p {
    font-size: 22px;
    color: #e6e6e6;
    font-family: 'PT Serif', serif;
    width: 70%;
    margin: 0 auto;    
}
/*container*/
.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.qualidades_container {
    width: 55%;
    margin: 0 auto;
}
.qualidades_container h1 {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    padding: 40px 0 0 0;
    color: #ececec;
}
.qualidade {
    display: inline-block;
    background-color: #dcd4e5;
    width: 170px;
    height: 170px;
    border-radius: 90px;
    padding: 10px 0 0 0;
}
.qualidadeSingle {
    display: inline-block;
    padding: 50px 10px;
    text-align: center;
    width: 33.333%;
    max-width: 200px;
    margin: 0 30px;
}
.qualidadeSingle p {
    font-size: 1.2em;
    font-family: 'PT Serif', serif;
    width: 150px;
    margin: 0px auto;
    color: #e2e2e2;
}
.qualidade img {
    width: 110px;
    height: 110px;
    margin: 20px 0 30px 0;
}
/*produtos*/
.produtosPremiados {
    width: 80%;
    margin: 0 auto;
    padding: 80px 0 0 0;
}
.produto {
    display: inline-block;
    width: 400px;
    margin: 0 50px 60px 0;
    height: 680px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #dbdbdb;
    box-shadow: 1px 6px 15px black;
}
.produto img {
    width: 400px;
    height: 400px;
    margin-left: -1px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.produto p {
    text-align: justify;
    width: 85%;
    margin: 0 auto;
    font-size: 1.1em;
}
.produto h1 {
    margin: 10px 0 0 0;
}
.produto button {
    width: 170px;
    font-size: 1.2em;
    height: 50px;
    padding: 5px;
    border: 0;
    outline: none;
    margin: 10px 0 20px 0;
    background-color: #3B8AC3;
    border-radius: 25px;
    cursor: pointer;
}
.produto button:hover {
    background-color: #4AB4DE;
    transition: 300ms;
}

.maisProdutos {
    width: 100%;
    text-align: center;
    height: 90px;
    margin: 0 0 40px 0;
}
.maisProdutos p {
    color: #e6e6e6;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    margin: 0 0 10px 0;
}
.maisProdutos button {
    font-size: 22px;
    color: #e6e6e6;
    font-family: 'PT Serif', serif;
    margin: 0 auto;   
    background: #3B8AC3;
    width: 9%; 
    height: 40px;
    border: 0;
    border-radius: 10px;
}
.maisProdutos button:hover{
    background-color: #4AB4DE;
    transition: 300ms;
}
/*footer*/
footer {
    width: 100%;
    height: 73px;
    text-align: center;
    background-color: #111a27;
    padding: 7px;
}
footer img {
    width: 40px;
    height: 40px;
    margin: 7px 0;
}
.sociais {
    float: left;
}
.sociais img:hover {
    width: 45px;
    height: 45px;
    transition: 300ms;
}
.footerContainer {
    float: right;
    font-size: 1.4em;
    font-weight: 500;
    padding: 2px 0;
    color: #d2d2d2;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
}
@media screen and (max-width: 1024px ) {
    .container_header {
        width: 100%;
        padding: 1% 2%;
    }
    .container_banner {
        width: 90%;
        height: auto;
        padding: 15% 0px 0 0;
    }
    #container_left_banner {
        width: 50%;
    }
    .container_banner .banner {
        width: 50%;
    }
    .container_banner h1 {
        font-size: 3em;
    }

    .separacao {
        padding: 50px 0;
    }
    .separacao:nth-child(2) {
        padding: 65px 0;
    }
    .qualidades_container {
        width: 90%;
    }
    .qualidades_container h1 {
        margin-bottom: 10px;
    }
    .qualidade {
        padding: 10px 0 0 0;
    }
    .qualidadeSingle {
        display: inline-block;
        padding:20px 5px;
        text-align: center;
        width: 33.333%;
        max-width: 200px;
        margin: 0 20px;
    }
    .qualidadeSingle p {
        font-size: 1.3em;
    }
    
    .maisProdutos {
        height: auto;
    }
    .maisProdutos p {
        padding: 10px 0 0px 0;
    }
    .maisProdutos button {
        width: 25%; 
        height: 40px;
        margin: 0 0 20px 0;
    }
    
    .produtosPremiados {
        width: 100%;
        margin: 0 auto;
        padding: 50px 0 0 0;
    }

}
@media screen and (max-width: 768px){
    header nav, header .logo {
        float: none;
    }
    header {
        height: auto;
        margin-bottom: 1%;
        position: static;
        text-align: center;
    }
    header .logo {
        margin-bottom: 2%;
    }
    header nav ul li{
        display: block;
        margin: 2% 0;
    }
    header nav ul li .boxLogin {
        width: 120px;
        text-align: center;
        display: inline-block;
        height: 60px;
    }
    header nav ul li .boxCarrinho {
        display: inline-block;
        width: 160px;
        text-align: center;
        height: 60px;
    }
    .container_banner {
        padding: 0px;
        background: none;
        height: auto;
    }
    #container_left_banner {
        width: 90%;
        margin: 0 auto;
        float: none;
        height: auto;
    }
    .container_banner h1 {
        background: none;
        text-align: center;
        width: 100%;
    }
    .container_banner button {
        width: 50%;
        text-align: center;
        margin: 10px 24%;
    }
    .banner {
        width: 100%;
        min-width: 250px;
        float: none;
        margin: 20px auto;
    }
    .banner img {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 360px) {
    header nav ul li{
        display: block;
        margin: 10px 0;
    }
    .container_banner {
        padding: 10px;
        background: none;
        height: auto;
    }
    #container_left_banner {
        width: 100%;
        background: none;
        margin: 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
    }
    .container_banner h1 {
        text-shadow: 2px 3px 2px black;
        line-height: 50px;
        font-size: 2.5em;
    }
    .container_banner button {
        margin: 5px 0;
    }
    .banner {
        margin: 20px 0;
    }
    .separacao {
        padding: 35px;
    }
    .separacao h1 {
        font-size: 35px;
    }
    .separacao p {
        font-size: 20px;
        width: 100%;
        margin: 5px 0;
    }
    .separacao:nth-child(2) {
        padding: 60px 0;
    }
    .qualidades_container {
        width: 100%;
    }
    .qualidades_container h1 {
        width: 100%;
        margin: 0 auto;
        font-size: 2.1em;
        padding: 20px 0;
    }
    .qualidade {
        padding: 10px 0 0 0;
    }
    .qualidadeSingle {
        padding:15px 5px;
        width: 100%;
        margin: 0 20px;
    }
    .qualidadeSingle p {
        font-size: 1.3em;
    }
    .produtosPremiados {
        width: 100%;
        padding: 50px 0 0 0;
    }
    .produto {
        width: 80%;
        margin: 0 0px 60px 0;
        height: auto;
    }
    .produto:last-of-type {
        margin: 0;
    }
    .produto img {
        margin-top: 10px;
        width: 90%;
        height: 90%;
        border: 0;
    }
    .produto h1 {
        margin: 5px 0 0 0;
    }
    .produto h1:nth-of-type(2) {
        margin: 8px 0 0 0;
    }

    .maisProdutos {
        margin: 20px 0;
    }
    .maisProdutos p {
        font-size: 1.6em;
        width: 80%;
        margin: 0 auto 10px auto;
    }
    .maisProdutos button {
        width: 50%; 
        height: 50px;
        padding-bottom: 2px;
        margin: 0 0 20px 0;
    }

    footer {
        height: auto;
        text-align: center;
        padding: 0;
    }
    .sociais, .footerContainer {
        float: none;
        text-align: center;
    }
    .sociais img{
        margin: 7px 0 0px 0;
    }
    .footerContainer {
        padding: 0;
        padding-bottom: 10px;
        font-size: 1.2em;
        width: 80%;
        margin: 0 auto;
    }
}